* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    border-radius: 999px;
    background: #171100;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px; /* 175% */
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0px auto;
}

/* Header */

.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}
.header .row {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    color: #5f5b53;
    padding: 8px 21px;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav a:hover {
    text-decoration: underline;
}

.header .nav li.active a {
    position: relative;
    color: #171100;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.header .nav li.active a::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 6px;
    left: 22px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action .btn-sign-up {
    min-width: 144px;
    margin-left: 49px;
}

/* Hero */
.hero {
    padding: 56px 0 65px 0;
    background: #fffcf4;
}

.hero .row {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .content-block {
    padding: 64px 0 64px 130px;
    width: 52%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    padding: 10px 24px;
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
    margin: 14px 0;
}

.hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fcefff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .content-block .heading {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .cta-group .btn {
    min-width: 180px;
    line-height: 64px;
    background: #ffb900;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600; /* 166.667% */
}

.hero .cta-group .watch-video {
    display: flex;
    border: none;
    align-items: center;
    background: transparent;
    margin-left: 28px;
    cursor: pointer;
}

.hero .cta-group .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    padding-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .content-block .stats > strong {
    margin-right: 8px;
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
}

.hero .content-block .stats {
    margin: 8px 0 0;
}

.hero
    .content-block
    .stats
    > strong:not(.hero .content-block .stats > strong:first-child) {
    margin-left: 28px;
}
