* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    border-radius: 999px;
    background: #171100;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px; /* 175% */
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0px auto;
}

/* Header */

.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .row {
    display: flex;
    align-items: center;
    padding: 36px 0px 8px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    color: #5f5b53;
    padding: 8px 21px;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav a:hover {
    text-decoration: underline;
}

.header .nav li.active a {
    position: relative;
    color: #171100;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.header .nav li.active a::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 6px;
    left: 22px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .action .btn-sign-up {
    min-width: 144px;
    margin-left: 49px;
}

/* Hero */
.hero {
    padding: 56px 0 65px 0;
    background: #fffcf4;
}

.hero .row {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .content-block {
    padding: 64px 0 64px 130px;
    width: 52%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero-summary {
    padding: 10px 24px;
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
    margin: 14px 0;
}

.hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fcefff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .content-block .heading {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .cta-group .btn {
    min-width: 180px;
    line-height: 64px;
    background: #ffb900;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600; /* 166.667% */
}

.hero .cta-group .watch-video {
    display: flex;
    border: none;
    align-items: center;
    background: transparent;
    margin-left: 28px;
    cursor: pointer;
}

.hero .cta-group .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    padding-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .content-block .stats > strong {
    margin-right: 8px;
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
}

.hero .content-block .stats {
    margin: 8px 0 0;
}

.hero
    .content-block
    .stats
    > strong:not(.hero .content-block .stats > strong:first-child) {
    margin-left: 28px;
}

/* Courses */

.courses {
    padding: 65px 0;
    margin-top: 135px;
}

.courses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-header .title {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.courses-header .desc {
    padding-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.courses-header .controls {
    display: flex;
    gap: 18px;
}

.courses-header .controls-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #ffb900;
    background: transparent;
    color: #ffb900;
}

.courses-header .controls-btn:hover {
    background: #ffb900;
    color: #ffffff;
    cursor: pointer;
}

.courses-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.courses-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.courses-list .courses-item:hover {
    border: 1px solid transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses-list .thumb {
    object-fit: cover;

    width: calc(100% + 2px);
    margin: -1px;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
}

.courses-list .info {
    padding: 16px 22px 22px;
}

.courses-list .info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-list .info-foot,
.courses-list .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-list .sub-title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.courses-list .sub-title a:hover {
    text-decoration: underline;
}

.courses-list .rating .value {
    padding-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.courses-list .info-desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.courses-list .info-foot {
    margin-top: 12px;
}

.courses-list .info-foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.courses-list .info-foot .btn {
    border: none;
}

.courses-list .info-foot .btn:hover {
    background: #ffb900;
    cursor: pointer;
}

/* Feedback */

.feedback {
    margin-top: 135px;
    background: #2e2100;
    padding: 96px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
}

.feedback-item .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.feedback-item .dots {
    display: flex;
}

.feedback-item .dots .dot {
    margin-right: 6px;
    margin-top: 28px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-item .dots .dot.active {
    background: #ffb900;
}

.feedback-content {
    width: 66%;
}

.feedback-content blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 153.846% */
}
